.tasks {
  padding-top: 5px;
  padding-left: 5px;
  border-radius: 10px;
  background-color: #5ec576;
  font-family: inherit;
  font-size: 1.2rem;
  width: 25rem;
  display: flex;
  justify-self: center;
  height: 35px;

  .icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 3px;
    padding-left: 320px;
    cursor: pointer;
    position: fixed;

    &:hover {
      transition: all 0.2s ease-in-out;
    }

    .cancel-icon-pending {
      display: none;
    }
  }
}

#completed {
  text-decoration: line-through;
}
