// $color-primary: #f59a83;
$color-primary: #f38e82;
$color-grad-1: #fbdb89;
$color-grad-2: #f48982;

$color-grey-light-1: #f9f5f3; // Light background
$color-grey-light-2: #f2efee; // Light lines
$color-grey-light-3: #d3c7c3; // Light text (placeholder)
$color-grey-dark-1: #615551; // Normal text
$color-grey-dark-2: #918581; // Lighter text

$gradient: linear-gradient(to right bottom, $color-grad-1, $color-grad-2);

// $bp-large: em; // 1250px
// $bp-medium: 20em; // 980px
// $bp-small: 37.5em; // 600px
// $bp-smallest: 31.25em; // 500px

.search {
  background-color: #fff;
  border-radius: 10rem;
  display: flex;
  justify-self: center;
  transition: all 0.3s;
  padding-left: 1%;
  max-width: 18rem;

  &:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 3rem rgba($color-grey-dark-1, 0.08);
  }

  .search__field {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.2rem;
    width: 20rem;
    display: flex;
    justify-self: center;
    height: 35px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-grey-light-3;
    }
  }

  .btn-search__btn {
    font-weight: 600;
    font-family: inherit;
    background-color: #fbdb89;
    border-radius: 100px;
    width: 100px;
  }
}
