body {
  font-family: "Poppins", sans-serif;
  font-weight: 300; /*adjusts the boldness of the font */
  color: #444;
  /* line-height: 1.9; sets the height between the line */
  background-color: #f3f3f3;
  /* font-size: 100%; */
  box-sizing: border-box;
  padding-top: 2rem;
  padding-left: 38vw;
  z-index: 1000;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
